
  .text {
    padding: 24px 16px;
    margin-top: 36px;
    font-size: 24px;
    text-align: center;
    text-indent: 40px;
  }
  .textLast {
    padding: 0 16px;
    font-size: 24px;
    margin-top: 16px;
    text-align: center;
  }
  .link {
    display: inline-block;
    color: #bc6d6d;
  }
  .link:hover,
  .link:focus {
    transform: scale(1.1);
    color: #be7979;
  }
  