.form {
    border: 2px solid rgb(74, 71, 71);
    background-color: rgb(245, 235, 235);
    border-radius: 6px;
    max-width: 400px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 16px;
  }
  
  .input {
    width: 360px;
    height: 32px;
    margin-bottom: 8px;
    margin-top: 8px;
    background-color: rgb(253, 249, 249);
    color: inherit;
  }
  .text {
    font-weight: 600;
    font-size: 18px;
  }
  .button { 
    padding: 6px 8px;
    border-radius: 6px;
    border: none;
    font-size: 18px;
    background-color: rgb(196, 189, 189);
    transition: background-color 250ms ease-in;
  }
.button:hover,
.button:focus {
  background-color: #debfbf;
}
  .error {
    color: red;
    font-size: 12px;
  }